* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: var(--3-color);
  background: var(--1-color);
  max-width: 500px;
  min-width: 240px;
  margin: 0 auto;
  font-family: "Montserrat", "Courier new";
  font-size: 13px;
  overflow-x: hidden;
}
body {
  background-image: url("/front/assets/bg.png");
  background-position: center bottom;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
}

a {
  color: var(--3-color);
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
input::placeholder {
  color: var(--3-color);
}

:root {
  --1-color: rgb(33, 33, 33);
  --2-color: rgb(52, 49, 42);
  --3-color: rgb(129, 102, 78);
  --red-color: #b22222;
  --red2-color: #b45252;
  --mess-color: #d3a068;
}

.color1 {
  color: var(--1-color);
}
.color2 {
  color: var(--2-color);
}
.color3 {
  color: var(--3-color);
}
.backgr1 {
  background: var(--1-color);
}
.backgr2 {
  background: var(--2-color);
}
.backgr3 {
  background: var(--3-color);
}
.errors {
  color: var(--red-color);
}
.errors2 {
  color: var(--red2-color);
}
.mess {
  color: var(--mess-color);
}

/* ИСП-СЯ ВО ВСЕХ СТРАНИЦАХ */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--1-color);
}
::-webkit-scrollbar-thumb {
  background: var(--2-color);
}

.main-modal-window {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 9995;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input {
  width: 100%;
  height: 35px;
  border-bottom: 2px solid var(--2-color);
  border-radius: 3px;
  outline: none;
  background: var(--1-color);
  color: var(--3-color);
  transition: 0.5s;
  padding: 5px 10px;
}

.pop-up {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.pop-up-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
.pop-up-content {
  background: var(--2-color);
  color: var(--3-color);
  max-width: 300px;
  padding: 10px 20px;
  border-radius: 3px;
}
.pop-up-maincontent {
  background: var(--1-color);
  padding: 10px 10px;
  border-radius: 3px;
}
.close-btn {
  width: 90px;
  height: 25px;
  outline: none;
  border: none;
  color: var(--1-color);
  background: var(--3-color);
  box-shadow: 0 5px 5px var(--1-color);
  transition: 0.2s;
  border-radius: 3px;
  margin-top: 13px;
}
.close-btn:active {
  position: relative;
  top: 1px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 250px;
  height: 100vh;
  margin-top: 25px;
  background: var(--2-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s linear;
  transform: translateX(100%);
  z-index: 9999;
}
.menu-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.menu-zag {
  color: var(--3-color);
  font-weight: bold;
  background: var(--1-color);
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: 0px 2px 4px black;
}
.menu-a {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  transition: 0.2s;
}
.menu-a:hover {
  background: var(--1-color);
  text-decoration: none;
  box-shadow: 0px 2px 2px black;
  cursor: pointer;
}
.menu-btn {
  height: 25px;
  position: fixed;
  top: 0;
  right: -5px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.1s;
}
.menu-btn:active {
  top: 1px;
}
.menu_active {
  transform: translateX(0%);
}
.menu-target {
  width: 100%;
  height: 100vh;
  background: var(--1-color);
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  transform: translateX(100%);
}
.menu_target_active {
  transform: translateX(0%);
}

.info-table {
  width: 100%;
  height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0px 2px 5px var(--1-color);
}

.hr-style {
  width: 100%;
  height: 1px;
  background: var(--1-color);
  margin-top: 8px;
  border: 0;
  clear: both;
  display: block;
}
.zag-style {
  width: 100%;
  height: 25px;
  background: rgb(30, 29, 29);
  background: linear-gradient(
    90deg,
    var(--1-color) 15%,
    #26241f 50%,
    var(--1-color) 85%
  );
  box-shadow: 0px 2px 4px black;
}

.item14-1 {
  width: 14px;
  height: 14px;
}
.item32-1 {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background: var(--1-color);
}
.item30 {
  height: 30px;
}
.item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-link:hover {
  cursor: pointer;
}
.item32-2 {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background: var(--2-color);
}

.usual {
  color: #868188;
}
.rare {
  color: #80493a;
}
.epic {
  color: #752ca8;
}
.legend {
  color: #d3a068;
}
.usual_border {
  width: 34px;
  height: 34px;
  background: url("/front/assets/icons/ivent-usual-border.png") top/cover
    no-repeat;
}
.rare_border {
  width: 34px;
  height: 34px;
  background: url("/front/assets/icons/ivent-rare-border.png") top/cover
    no-repeat;
}
.epic_border {
  width: 34px;
  height: 34px;
  background: url("/front/assets/icons/ivent-epic-border.png") top/cover
    no-repeat;
}
.legend_border {
  width: 34px;
  height: 34px;
  background: url("/front/assets/icons/ivent-legend-border.png") top/cover
    no-repeat;
}

.sort-menu {
  background: var(--2-color);
  padding: 3px;
  overflow: auto;
}
.sort-menu button {
  height: 25px;
  color: var(--3-color);
  background: var(--1-color);
  padding: 4px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px black;
}

.close-back-btns {
  position: absolute;
  top: 25px;
  left: 0;
  z-index: 9995;
}
.close-close {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid var(--3-color);
  background: var(--2-color);
  color: var(--3-color);
}
.close-back {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid var(--3-color);
  background: var(--2-color);
  color: var(--3-color);
}

/* Регистрация, вход и т.д. */
.error-star {
  display: block;
  color: var(--red-color);
  position: absolute;
  left: -10px;
  top: 10px;
  text-shadow: 0px 0px 4px var(--red-color);
}

.logo {
  width: 100%;
  height: 180px;
  background: url("/front/assets/auth.gif") no-repeat top/cover;
}
.auth-info {
  text-align: center;
  font-size: 16px;
  transform: translateY(-20px);
  text-shadow: 0 0 1px var(--mess-color);
}
.auth-select {
  font-size: 16px;
  font-weight: 700;
  padding: 5px 15px;
  cursor: pointer;
}

.form-wrapper {
  width: 100%;
  padding: 10px 0px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth-code {
  border-radius: 3px;
  background: var(--1-color);
  padding: 4px 20px;
}
.auth-button {
  width: 150px;
  height: 30px;
  outline: none;
  border: none;
  color: var(--3-color);
  background: var(--2-color);
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
}
.auth-button:active {
  position: relative;
  top: 2px;
}

.auth-enter {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}
.auth-enter-form {
  width: 100%;
  border-radius: 0px 0px 5px 5px;
}

/* ИГРА */
.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: var(--mess-color);
}
.game-canvas-fps {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--mess-color);
}

.atack-btn {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px black;
}
.atack-btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}
.game-canvas-btns {
  position: absolute;
  bottom: 0;
  right: 0;
}
.game-canvas-btns-wdth {
  margin-right: 20px;
  margin-bottom: 20px;
}
.game-btn {
  width: 20px;
  height: 20px;
  background: var(--2-color);
  box-shadow: 0px 2px 3px black;
}
.game-btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}
.game-btn-up {
  margin-top: 0px;
}
.game-btn-down {
  margin-bottom: 0px;
}
.game-btn-left {
  margin-right: 0px;
}
.game-btn-right {
  margin-left: 24px;
}

.taked-item {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 150px;
  margin-right: 20px;
  opacity: 0.8;
}
.taked-item-info {
  padding: 5px 10px;
  background: var(--2-color);
}

.game-srch {
  width: 100%;
}
.game-actions {
  width: 100%;
}

.sleep-range {
  background: var(--1-color);
}
.sleep-range-input {
  width: 96%;
  appearance: none;
  height: 10px;
  outline: none;
  background: var(--2-color);
}
.sleep-range-input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--3-color);
  border-radius: 10px;
}

.game-btn-icon {
  width: 22px;
  height: 22px;
  background: var(--2-color);
  border-radius: 3px;
}
.game-btn-bar {
  position: absolute;
  top: 27px;
  width: 0%;
  height: 3px;
  background: var(--2-color);
  border-radius: 4px;
  opacity: 0.5;
  transition: 0.5s;
}

.game-hide {
  width: 100%;
  height: 100%;
  background: var(--1-color);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9994;
}

/* ИНВЕНТАРЬ */
.maneken {
  width: 110px;
  height: 227px;
  border-radius: 3px;
  border: 2px solid var(--1-color);
  box-shadow: inset 0px 0px 7px var(--1-color);
}
.man {
  width: 95px;
  height: 217px;
}

.ivent-user {
  width: 100%;
}
.pers-ivent-img {
  width: 63px;
  height: 126px;
}

.nadeto-item {
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--1-color);
  box-shadow: inset 0px 0px 4px var(--1-color);
}

.ivent-items {
  width: 100%;
}
.item-div {
  width: 96%;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 2px 4px black;
}
.item-div:hover {
  text-decoration: none;
  cursor: pointer;
}
.ivent-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-colvo {
  min-width: 32px;
  height: 32px;
  padding: 0 3px;
  border-radius: 3px;
}
.item-colvo-min {
  height: 15px;
  border-radius: 50%;
  padding: 0 5px;
  color: var(--3-color);
  background: var(--1-color);
  position: absolute;
  top: -5px;
  right: 20px;
}

.ivent-nav {
  width: 100%;
}
.nav-btn {
  width: 25px;
  height: 25px;
  background: var(--1-color);
  color: var(--3-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 2px 2px black;
}
.nav-btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}

/* ПРОСМОТР ПРЕДМЕТА */
.item-iteminfo {
  width: 100%;
}
.iteminfo-div {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  background: var(--1-color);
}

.item-moves {
  width: 100%;
}
.moves-btn {
  width: 86%;
  height: 30px;
  outline: none;
  border: none;
  color: var(--1-color);
  background: var(--3-color);
  box-shadow: 0 2px 4px black, inset 0 0 2px black;
  transition: 0.2s;
  border-radius: 3px;
}
.moves-btn:active {
  cursor: pointer;
  position: relative;
  top: 1px;
}

/* КРАФТ */
.craft-items {
  width: 100%;
}
.craft-item {
  width: 96%;
  box-shadow: 0px 2px 4px black;
}
.craft-item-info {
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  color: var(--1-color);
  background: var(--3-color);
  box-shadow: 0 5px 5px var(--1-color);
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}
.craft-item-info:active {
  position: relative;
  top: 1px;
  box-shadow: 0px 2px 4px black;
}

.craft-info {
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.colvo-range-input {
  width: 86%;
  appearance: none;
  height: 10px;
  outline: none;
  background: var(--1-color);
  border-radius: 5px;
}
.colvo-range-input::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--3-color);
  border-radius: 10px;
}

.craft-back-btn {
  width: 100px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: var(--1-color);
  background: var(--3-color);
  box-shadow: 0 5px 5px var(--1-color);
  transition: 0.2s;
}
.craft-back-btn:active {
  cursor: pointer;
  box-shadow: none;
  position: relative;
  top: 1px;
}
