body {color: var(--main-3-color); background: var(--main-1-color); max-width: 500px; min-width: 240px; margin: 0 auto; font-family: 'Montserrat', 'Courier new'; font-size: 13px; overflow-x: hidden;}
body {background-image: url('/assets/bg.png'); background-position: center bottom; background-attachment: fixed;}
a {color: var(--main-3-color); cursor: pointer;}
a:hover {text-decoration: underline;}
button {cursor: pointer;}
input::placeholder {padding: 8px; color: var(--main-3-color);}

:root {
    --main-1-color: rgb(24, 23, 23);
    --main-2-color: rgb(52, 49, 42);
    --main-2-back: url('/assets/textures/2-color.png');
    --main-3-color: rgb(127, 105, 85);
    --main-4-color: #dac09c;
    --main-red-color: #B22222;
    --main-red2-color: #b45252;
    --main-mess-color: #d3a068;
}

.color1 {color: var(--main-1-color);}
.color2 {color: var(--main-2-color);}
.color3 {color: var(--main-3-color);}
.color4 {color: var(--main-4-color);}
.backgr1 {background: var(--main-1-color);}
.backgr2 {background: url('/assets/textures/2-color.png');}
.backgr3 {background: var(--main-3-color);}
.backgr4 {background: var(--main-4-color);}
.errors  {color: var(--main-red-color);}
.errors2 {color: var(--main-red2-color);}
.mess {color: var(--main-mess-color);}

.wdth100 {width: 100%;}
.wdth96 {width: 96%;}
.wdth90 {width: 90%;}
.wdth86 {width: 86%;}
.wdth85 {width: 85%;}
.wdth80 {width: 80%;}
.wdth75 {width: 75%;}
.hght25 {height: 25px;}

/* ИСП-СЯ ВО ВСЕХ СТРАНИЦАХ */
::-webkit-scrollbar {width: 10px; height: 10px;}
::-webkit-scrollbar-track {background: var(--main-1-color);}
::-webkit-scrollbar-thumb {background: var(--main-2-back);}

.input {width: 100%; height: 25px; outline: none; background: var(--main-2-back); color: var(--main-3-color); transition: .5s;}
.input:focus {padding: 0px 15px;}

.page-load-bar {width: 100%; height: 1.5px; position: fixed; top: 0; left: 0; background: var(--main-1-color); z-index: 10000}
.load-bar {width: 20%; height: inherit; background: var(--main-3-color); transition: width ease-in-out .6s;}

.pop-up {width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); position: fixed; top: 0; left: 0; z-index: 9999;}
.pop-up-body {height: 100%; display: flex; justify-content: center; align-items: center; padding: 30px 10px;}
.pop-up-content {background: var(--main-2-back); color: var(--main-3-color); max-width: 300px; padding: 10px 20px; border-radius: 3px;}
.pop-up-maincontent {background: var(--main-1-color); padding: 10px 10px; border-radius: 3px;}
.close-btn {width: 90px; height: 25px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 5px 5px var(--main-1-color); transition: 0.2s; border-radius: 3px; margin-top: 15px;}
.close-btn:active {position: relative; top: 1px; box-shadow: none;}

.menu {position: fixed; top: 0; right: 0; width: 200px; height: 100vh; margin-top: 25px; background: var(--main-2-back); display: flex; align-items: center; justify-content: center; transition: 0.2s linear; transform: translateX(100%); z-index: 9999;}
.menu-list {width: 100%; height: 100%; overflow-y: auto;}
.menu-zag {color: var(--main-3-color); font-weight: bold; background: var(--main-1-color); border-radius: 3px; padding-top: 2px; padding-bottom: 2px; box-shadow: 0px 2px 4px black;}
.menu-a {width: 100%; height: 30px; display: flex; justify-content: flex-start; align-items: center; border-radius: 3px; transition: .2s;}
.menu-a:hover {background: var(--main-1-color); text-decoration: none; box-shadow: 0px 2px 4px black;}
.menu-btn {height: 25px; position: fixed; top: 0; right: 1px; z-index: 10000; cursor: pointer; transition: .1s;}
.menu-btn:active {top: 2px;}
.menu_active {transform: translateX(0%);}
.menu-target {width: 100%; height: 100vh; background: var(--main-1-color); opacity: .7; position: fixed; top: 0; left: 0; z-index: 8888; transform: translateX(100%);}
.menu_target_active {transform: translateX(0%);}

.info-table {width: 100%; height: 25px; position: fixed; top: 0; left: 0; z-index: 9999; box-shadow: 0px 2px 5px var(--main-1-color);}

.hr-style {width: 100%; height: 1px; background: var(--main-1-color); margin-top: 8px; border: 0; clear: both; display: block;}
.zag-style {width: 100%; height: 25px; background: rgb(30,29,29); background: linear-gradient(90deg, var(--main-1-color) 25%, #26241f 50%, var(--main-1-color) 85%); box-shadow: 0px 2px 4px black;}

.item14-1 {width: 14px; height: 14px;}
.item32-1 {width: 32px; height: 32px; border-radius: 3px; background: var(--main-1-color);}
.item-link {display: flex; justify-content: center; align-items: center;}
.item32-2 {width: 32px; height: 32px; border-radius: 3px; background: var(--main-2-back);}

.usual {color: #868188;} .rare {color: #80493a;} .epic {color: #752ca8;} .legend {color: #d3a068;}
.usual_border {width: 32px; height: 32px; background: url('/assets/icons/ivent-usual-border.png') top/cover no-repeat;}
.rare_border {width: 32px; height: 32px; background: url('/assets/icons/ivent-rare-border.png') top/cover no-repeat;}
.epic_border {width: 32px; height: 32px; background: url('/assets/icons/ivent-epic-border.png') top/cover no-repeat;}
.legend_border {width: 32px; height: 32px; background: url('/assets/icons/ivent-legend-border.png') top/cover no-repeat;}

.sort-menu {background: var(--main-2-back); padding: 3px; overflow: auto;}
.sort-menu button {height: 25px; color: var(--main-3-color); background: var(--main-1-color); padding: 4px; border-radius: 3px; box-shadow: 0px 2px 4px black;}

/* Регистрация, вход и т.д. */
.error-star {display: block; color: var(--main-red-color); position: absolute; left: 1px; top: -2px;}

.logo {width: 100%; border-radius: 5px;}
.auth-info {text-align: center; font-size: 15px; transform: translateY(-20px); text-shadow: 0 0 1px var(--main-mess-color);}

.auth-reg {width: 90%; border-radius: 5px 5px 0px 0px;}
.auth-reg-zag {width: 100%; height: 26px; background: var(--main-2-back); clip-path: polygon(5% 0%, 85% 0%, 90% 0%, 85% 100%, 15% 100%, 10% 0%); cursor: pointer;}
.reg-button {width: 150px; height: 25px; outline: none; border: none; background: var(--main-3-color); transition: .2s; cursor: pointer;}
.reg-button:active {position: relative; top: 1px;}

.auth-enter {width: 90%; border-radius: 0px 0px 5px 5px;}
.auth-enter-zag {width: 100%; height: 26px; background: var(--main-2-back); clip-path: polygon(15% 0%, 85% 0%, 90% 100%, 85% 100%, 15% 100%, 10% 100%); cursor: pointer;}
.auth-enter-form {width: 100%; border-radius: 0px 0px 5px 5px;}
.enter-button {width: 150px; height: 25px; outline: none; border: none; background: var(--main-3-color); transition: .2s; cursor: pointer;}
.enter-button:active {position: relative; top: 1px;}

/* РЕДАКТИРОВАНИЕ ПЕРСОНАЖА */
.pers-maneken {width: 100%; border-radius: 5px;}
.maneken {width: 90px; height: 154px; background: url('/assets/decor/maneken-back.png') no-repeat top/cover;}
.man {position: absolute; z-index: 1;}

.cost-zag {width: 96%; border-radius: 5px;}
.cost-message {width: 96%; border-radius: 5px; color: var(--main-mess-color);}
.cost-elem-name {width: 160px; background: var(--main-1-color); border-radius: 3px; padding-top: 3px; padding-bottom: 3px;}
.cost-prevnext-btn {min-width: 30px; height: 22px; display: flex; justify-content: center; align-items: center; border-radius: 5px; background: var(--main-3-color); color: var(--main-1-color); padding-left: 5px; padding-right: 5px;}
.cost-ready-btn {width: 150px; height: 25px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 5px 5px var(--main-1-color); transition: 0.2s;}
.cost-ready-btn:hover {cursor: pointer; box-shadow: 0 0 0 var(--main-1-color);}

.cost-confirm-btn {width: 60px; height: 25px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 5px 5px var(--main-1-color); transition: 0.2s;}
.cost-confirm-btn:hover {cursor: pointer; box-shadow: 0 0 0 var(--main-1-color);}

/* ИГРА */
.game-meteoсharact {width: 100%;}
.game-location {width: 100%;}
.game-canvas {width: 100%; background-color: var(--main-1-color);}
.game-canvas-loader {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.game-canvas-fps {width: 100%; height: 100%; position: absolute; top: 0; left: 0; color: var(--main-3-color);}
.fps-body {margin-left: 20px; margin-top: 5px;}
.game-canvas-btns {width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
.game-canvas-btns-wdth {margin-right: 20px; margin-bottom: 10px; opacity: 0.3;}
.game-btn-big {width: 20px; height: 20px; background: var(--main-4-color);}
.game-btn-min {width: 14px; height: 14px; background: var(--main-4-color);}
.game-avai-items {overflow-x: auto;}
.loc-whatsrch {width: 96%;}

.game-srch {width: 100%;}

.game-actions {width: 100%;}

.sleep-range {background: var(--main-1-color);}
.sleep-range-input {width: 96%; appearance: none; height: 10px; outline: none; background: var(--main-2-back);}
.sleep-range-input::-webkit-slider-thumb {appearance: none; width: 20px; height: 20px; background: var(--main-3-color); border-radius: 10px;}

.game-btn-icon {width: 22px; height: 22px; background: var(--main-2-back); border-radius: 3px;}
.game-btn-bar {position: absolute; top: 27px; width: 0%; height: 3px; background: var(--main-2-back); border-radius: 4px; opacity: .5; transition: .5s;}
.game-item-colvo {min-width: 22px; height: 22px; color: var(--main-3-color); background: var(--main-2-back); border-radius: 3px; padding: 0 2px;}

/* ИНВЕНТАРЬ */
.ivent-user {width: 100%;}
.pers-ivent-img {width: 63px; height: 126px;}

.user-abs {background: var(--main-1-color); border-radius: 3px;}
.user-dmg {background: var(--main-1-color); border-radius: 3px;}
.user-power {background: var(--main-1-color); border-radius: 3px;}

.ivent-hp-bar {width: 100px; height: 14px; background: var(--main-1-color); border-radius: 3px;}
.hp-bar {width: 0%; height: inherit; background: #b45252; border-radius: inherit; transition: width .5s;}
.ivent-hung-bar {width: 100px; height: 14px; background: var(--main-1-color); border-radius: 3px;}
.hung-bar {width: 0%; height: inherit; background: #80493a; border-radius: inherit; transition: width .5s;}
.ivent-thirst-bar {width: 100px; height: 14px; background: var(--main-1-color); border-radius: 3px;}
.thirst-bar {width: 0%; height: inherit; background: #4b80ca; border-radius: inherit; transition: width .5s;}
.ivent-fatigue-bar {width: 100px; height: 14px; background: var(--main-1-color); border-radius: 3px;}
.fatigue-bar {width: 0%; height: inherit; background: #868188; border-radius: inherit; transition: width .5s;}

.nadeto-helm {width: 96%; border-radius: 3px; padding: 5px; box-shadow: 0px 2px 4px black;}
.nadeto-arm {width: 96%; border-radius: 3px; padding: 5px; box-shadow: 0px 2px 4px black;}
.nadeto-weap {width: 96%; border-radius: 3px; padding: 5px; box-shadow: 0px 2px 4px black;}

.ivent-items {width: 100%;}
.item-div {width: 96%; border-radius: 5px; padding: 5px; box-shadow: 0px 2px 4px black;}
.item-div:hover {text-decoration: none;}
.ivent-item-name {white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.item-colvo {min-width: 32px; height: 32px; border-radius: 5px; padding: 0 3px;}
.item-colvo-min {height: 15px; border-radius: 50%; padding: 0 5px; color: var(--main-1-color); background: var(--main-3-color); position: absolute; top: -5px; left: 20px;}

.ivent-nav {width: 100%;}
.nav-btn {width: 25px; height: 25px; background: var(--main-1-color); color: var(--main-3-color); display: flex; justify-content: center; align-items: center; border-radius: 3px; margin-left: 5px; margin-right: 5px; box-shadow: 0px 2px 2px black;}
.nav-btn:active {position: relative; top: 1px; box-shadow: none;}

/* ПРОСМОТР ПРЕДМЕТА */
.item-iteminfo {width: 100%;}
.iteminfo-div {width: 100%; padding-top: 4px; padding-bottom: 4px; background: var(--main-1-color);}

.item-moves {width: 100%;}
.moves-btn {width: 86%; height: 30px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 2px 4px black; transition: 0.2s; border-radius: 3px;}
.moves-btn:active {cursor: pointer; position: relative; top: 1px;}

/* КРАФТ */
.craft-items {width: 100%;}
.craft-item {width: 96%; box-shadow: 0px 2px 4px black;}
.craft-item-info {width: 32px; height: 32px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 5px 5px var(--main-1-color); transition: 0.2s; border-radius: 5px;}
.craft-item-info:hover {cursor: pointer; box-shadow: 0px 2px 4px black;}

.craft-info {border-radius: 3px; padding-top: 2px; padding-bottom: 2px;}
.colvo-range-input {width: 86%; appearance: none; height: 10px; outline: none; background: var(--main-1-color); border-radius: 5px;}
.colvo-range-input::-webkit-slider-thumb {appearance: none; width: 20px; height: 20px; background: var(--main-3-color); border-radius: 10px;}

.craft-back-btn {width: 100px; height: 25px; outline: none; border: none; color: var(--main-1-color); background: var(--main-3-color); box-shadow: 0 5px 5px var(--main-1-color); transition: 0.2s;}
.craft-back-btn:active {cursor: pointer; box-shadow: none; position: relative; top: 1px;}

/* УБЕЖИЩЕ */
.refuge-no {width: 100%;}
.refuge-no-mess {border-radius: 3px; padding: 10px 12px; box-shadow: 0px 0px 10px var(--main-1-color);}
.refuge-back {width: 100%; height: 180px;}
.refuge-resource {border-radius: 3px;}
.refuge-info {width: 100%;}
.refuge-hp-wrapper {width: 100%; height: 3px; background: var(--main-1-color); position: absolute; top: 0;}
.refuge-hp-colvo {position: absolute; top: 0; border-radius: 0px 0px 3px 3px; box-shadow: 0 2px 7px var(--main-1-color);}
.refuge-hp-bar {width: 100%; height: inherit; background: #b45252; border-radius: inherit; box-shadow: 0 2px 5px #b45252; transition: width .5s;}

.refuge-moves {width: 100%;}

.refuge-protection-slots {width: 100%;}
.protection-slot {width: 96%; padding: 5px; box-shadow: 0px 2px 4px black;}

/* ЧАТ */
.chat-body {width: 100%; height: auto; min-height: 250px; background: var(--main-2-back);}
.chat-item {width: 96%; word-wrap: break-word; overflow-x: auto; background: var(--main-1-color); font-size: 12px; padding: 5px 0;}
.mess-time {font-size: 11px; opacity: .7;}

.chat-form {width: 100%; background: var(--main-2-back);}
.chat-input {width: 200px; height: 25px; outline: none; background: var(--main-1-color); color: var(--main-3-color); text-align: center;}
.chat-btn {width: 50px; height: 25px; background: var(--main-1-color);}
.chat-nav {width: 100%;}